@charset "utf-8";
/* CSS Document */

.logoFooter {
	max-width: 5%;
	min-width: 28px;
}

hr {
	opacity: 50%;
	background-color: black;
}

.carruselSlideImg {
	margin: auto;
	width: 100%;
	cursor: pointer;
}

.textoAbout {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#brandAnchor {
	text-decoration: none; 
	color: inherit;
}

.logoNavbar {
	max-width: 200px;
	min-width: 100px;
}

.galeriaImg {
	width: 300px;
	height: 300px;
}

#galeriaButton {
	transition: 0.2s;
}

#galeriaButton:hover{
	transform: scale(1.05);
}

.carrito {
	width: 60px;
	cursor: pointer;
}

.cantinput {
	width: 50px;
}

.pwdreveal {
	cursor: pointer;
}

#videoAbout {
	height: 315px;
	width: 560px;
}

#registrarse {
	color: white;
	margin-left: 620px;
	padding: 5px 10px 5px 10px;
}

@media (min-device-width: 341px) and (max-device-width: 767px) {
	#videoAbout {
		width: 300px !important;
		height: 169px !important;
	}
}

@media (max-device-width: 340px) {
	#videoAbout {
		width: 230px !important;
		height: 130px !important;
	}
}

@media (max-device-width: 1400px) {
	#registrarse {
		margin-left: 400px !important;
	}
}

@media (max-device-width: 1200px) {
	#registrarse {
		margin-left: 250px !important;
	}
}

@media (max-device-width: 991px) {
	#registrarse {
		margin-left: 20px !important;
		margin-top: 15px !important;
	}
}

#seccionTexto {
	background: linear-gradient(to bottom, darkorange 40%, orangered 90% 60%);
	border-color: black !important;
	border-width: 1px !important;
	box-shadow: 1px 1px 5px 2px black;
}